---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<style type="text/css">
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #CACFD2; /* old IE */
    background-color: #CACFD2; /* Modern Browsers */
}
</style>




<!--
<font face="helvetica" color="#A93226" size="4">
<p>University of Texas at Austin</p></font>

<font face="helvetica" size="3"> 

<p><a href="http://users.ece.utexas.edu/~jtamir/teaching.html" target="_blank">EE313</a>: <font color="black"> Linear Systems and Signals</font>
	<br><i>Teaching assistant</i> <br>Fall, 2022
</p>

<hr> 
</font>
-->

<font face="helvetica" color="#A93226" size="4">
<p>Indian Institute of Technology Delhi</p></font>

<font face="helvetica" size="3"> 

<p><a href="https://ee.iitd.ac.in/" target="_blank">ELP719</a>: <font color="black"> Microwaves Laboratory</font>
	<br><i>Teaching assistant</i> <br>Fall, 2018
</p>
<p><a href="https://web.iitd.ac.in/~lalank/ell319/index.html" target="_blank">ELL319</a>: <font color="black">Digital Signal Processing </font>
	<br><i>Teaching assistant</i> <br>Fall, 2017
 </p> 
<p><a href="https://ee.iitd.ac.in/" target="_blank">ELL205</a>: <font color="black">Signal and Systems </font>
	<br><i>Teaching assistant</i> <br>Spring, 2016
 </p> 
<p><a href="https://ee.iitd.ac.in/" target="_blank">ELL100</a>: <font color="black">Introduction to Electrical Engineering </font>
	<br><i>Teaching assistant</i> <br>Fall, 2016
</p>

</p>


</font>



<hr>